/* TODO Add site wide styles */
.outter-most-wrapper {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    background-color: rgb(249, 249, 249);
    gap: 25px;
}

.img {
    object-fit: cover;
    vertical-align: bottom;
    height: 100% !important;
    width: 100% !important;
}

.circle {
    border-radius: 50%;
}
