/* TODO Add site wide styles */
.outter-most-wrapper {
    max-width: 100%;
    background-color: rgb(249, 249, 249);
}

.live-feed-display {
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;
}
