@import url(//db.onlinewebfonts.com/c/6d32b8e06f40fb7698cfb714b9e7975d?family=BillabongW00-Regular);


.splash_image {
    width: 250px;
    height: 500px;
    position: relative;
    z-index: 2;
    right: 285px;
    top: 20px;
    background-color: transparent;
}

.Home_image {
    width: 450px;
    height: 581px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login_button {
    width: 286px;
    background-color: lightskyblue;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    height: 30px;
    color: white;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.login_container {
    display: flex;
    flex-direction: column;

}

.login_second_container {
    border: 1px solid rgba(139, 139, 135, 0.6);
    padding: 80px 30px

}

.outter_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px
}

.register {
    border: 1px solid rgba(139, 139, 135, 0.6);
    padding: 10px 10px;
    font-size: 15px;
    margin-top: 10px;
    text-align: center;

}

.login_input {
    width: 280px;
    margin-top: 5px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid lightgray;

}

.Instacrumbz_logo{
    font-family: 'BillabongW00-Regular';
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;


}

.phone_container{
    display: flex;
    width: 400px;
}

.login_error{
    text-align: center;
    margin-bottom: 20px;
    color: red;
}

.login_link{
    text-decoration: none;
    color: rgb(8, 130, 171);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.login_footer{
    margin-top: 180px;
    font-size: 15px;
    text-align: center;
}
