.mainProfileContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-left: 20%;
  margin-right: 20%;
  /* border: 1px solid red; */
  background-color: rgb(249, 249, 249);
}

.innerProfileContainer{
  display: flex;
  /* border: 1px solid red; */
  width: 100%;
  border-bottom: 1px solid rgb(216, 203, 203);
}

.profileInfoContainer {
  display: flex;
  /* border: 1px solid red; */
  margin-bottom: 30px;
  margin-left: 10px;
  margin-top: 20px;
  width: 90%;
}

.profileDetailHeader {
  display: flex;
}

.profileUserName {
  margin-right: 2rem;
  font-weight: 400;
}

.profileDetailHeader > button {
  height: 45px;
  width: 80px;
  align-self: center;
}

.profilePic > img {
  height:150px;
  width: 150px;
  margin-right: 100px;
  margin-left: 10px;
  border-radius: 50%;
  /* border: 1px solid red */

}

.profileDetails {
  /* border: 1px solid red; */
  font-family: 'Roboto';
  width: 100%;
  padding: 10px
}

.profileDetails > span {
  font-weight: 500;
}

.profileBio {
  margin-top: 10px;
}

.userPostContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5px;
  margin-right: 5px;
  height: 1000px;
}

.eachUserPost {
  height: 300px;
  width: 300px;
}

.profileimg{
  object-fit: cover;
  vertical-align: bottom;
  height: 100% !important;
  width: 100% !important;
}


.eachUserPost > img:hover {
  filter: brightness(.7);
  transition: .25s;
}
