.followingModalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 500px;
  overflow-y:auto
}

.followingModalInnerContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.followingPic {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-right: 10px;
}

.eachUserProfile {
  display: flex;
  align-items: center;
  padding: 20px;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Roboto', Helvetica;
}

.followingName  {
  margin-left: 20px;
}
