.outer-most-div-dont-style-me {
  display: flex;
  justify-content: flex-start;
}

.image-container {
  display: flex;
  width: 100%;
}

.left-half {
  width: 800px;
  height: 800px;

}

.comment-display-sp {
  height: 500px;
}

.caption-comments {
  /* border: 2px solid blue; */
  height: 500px;
}


.post-caption {
  /* border: 2px solid green; */
  display: flex;
}

.header-sp {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  margin: 12px;
}


.comment_line {
  display: flex;
  /* border: 2px solid red; */
  align-items: center;
  gap: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.comment_content {

  max-width: 325px;
  overflow-wrap: break-word;
}

.right-half {
  /* border: 2px solid yellow; */
  max-height: max-content;
}

.right-half {
  width: 450px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.right-half-inner {

  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  /* padding-left: 30px; */


}

.header-info {
  padding-left: 30px;
}

.underline {
  border-bottom: 1px solid lightgray;
  padding-left: 0px;
}

.header-pc {
  /* border: 3px solid yellow; */
}

.caption-comments {
  /* border: 2px solid yellow; */
  padding-left: 30px;
}

.elipsis {
  margin-left: 240px;
}
