/* * {
  background-color: white;
} */

.navbar-wrapper {
  align-items: center;
  background-color: white;
  border-bottom: 1px solid lightgray;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 60;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.navbar-inner {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 60px;
  justify-content: space-between;
  max-width: 1100px;
  padding: 0 20px;
  width: 100%;
  z-index: 10;
}

.logo-container {
  display: flex;
  justify-content: flex-start;
  scale: 0.5;
}

.logo {
  /* border: 3px solid red; */
  max-height: 90%;
  background: transparent !important;
}

.icon-div {
  /* border: 3px solid blue; */
  max-height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  width: 350px;
}

.icon {
  font-size: 30px;
  color:black;
  margin: 5px;
}

.photo-div-inner {
  /* border: 2px solid red; */

  max-height: 100%;
  display: flex;
  align-items: center;

}
.photo-div-outer {
  /* border: 2px solid green; */
  max-height: 100%;
  display: flex;
  align-items: center;

}

.Profile-Photo {
  border-radius: 50%;
  /* border: 2px solid red; */
  height: 60px;
}

.profile-icon {
  height: 30px !important;
  width: 30px !important;
  cursor: pointer;
}
